{% extends 'structure.html' %}
{% block main %}
<div id='o'>
    <div id='i'>
        <h1>About</h1>
        <div id='pic'>
          <img src="{{ url_for('static',filename='img/inte.jpg') }} " alt="">
        </div>
        <div id='l'>
          <h2>Mohammad Umar Mohammad Akhlaque</h2>
            <p>I am in Final year of Bachelor of Computer Science(BCS) , in MSG College Malegaon.
              As strongly motivated, self-starting and out of box thinker, 
              I work well in a team environment
              both as team player/ leader, possess good communication & interpersonal 
              skills and always have a zeal to achieve the maximum.
            </p>

        </div>
        <div id='r'>
                <h3>Contact</h3>
                E-mail:- mdumar5772@gmail.com
                <br>
                Mob:- +91 8669022590
                <br><br>
                <h3>instagram </h3>
                <a href="https://instagram.com/mohammadumar587?igshid=184egt1ra2ghx">@mohammadumar587</a>
        </div>
    </div>
</div>
{%endblock%}