<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="  {{url_for('static', filename='css/style.css')}}   ">
    <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{url_for('static', filename='assets/lg/css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/sp/css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/sp/css/util.css')}}" rel="stylesheet">
    <title>Document</title>

</head>
<body>
    
    
        {% block main%}
        <h1>THis is in struct</h1>
        
        {{message}}
        {%endblock%}
    </div>
    
</body>
</html>